#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/iio/adi,ad5592r.h>
#include "socfpga_mitysom5cse_l23y8.dtsi"

/ {
	aliases {
		/* this allow the ethaddr uboot environmnet variable contents
		 * to be added to the gmac1 device tree blob.
		 */
		ethernet0 = &gmac1;
	};
        adcdac_3v3: adcdac-vref {
                compatible = "regulator-fixed";
                regulator-name = "adcdac-vref-3v3";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;
        };
};

// no functionality in the FPGA gates
&hps_lw_bus {
	status = "okay";

        sysid_qsys: sysid@00 {
                compatible = "altr,sysid-19.1", "altr,sysid-1.0";
                reg = <0x00000000 0x00000008>;
                id = <4273603590>;	
                timestamp = <1602170500>;
        }; //end sysid@00 (sysid_qsys)

        OCD_GPIO: ocd_gpio@0x40 {
                compatible = "altr,pio-1.0";
                reg = <0x0040 0x20>;
                interrupts = <0 40 4>;
                altr,ngpio = <7>;
                #gpio-cells = <2>;
                gpio-controller;
                altr,interrupt-type = <IRQ_TYPE_LEVEL_HIGH>;
                #interrupt-cells = <1>;
                interrupt-controller;
        }; //end ocd_gpio@0x40 

        target_uart0: target_serial@0x0100 {
                compatible = "altr,uart-19.1", "altr,uart-1.0";
                reg = <0x00000100 0x00000020>;
                interrupt-parent = <&intc>;
                interrupts = <0 41 4>;
                clock-frequency = <100000000>;  
                current-speed = <115200>; 
        }; //end serial@0x100000040 (hps_nios_uart)

        POWER_I2C: power_i2c@0x00000140 {
                compatible = "altr,softip-i2c-v1.0";
                reg = <0x00000140 0x00000040>;
                interrupt-parent = <&intc>;
                interrupts = <0 42 4>;
                clocks = <&h2f_user0_clk>;
                #address-cells = <1>;
                #size-cells = <0>;
                target_vreg: tps55288@0 {
                        // regulator framework only supports read access
                        // from sysfs, so this is actually implemented in
                        // user-space, but this def is left here for documentation
                        // purposes - if a driver binds to it the user-space will
                        // stop working!
                        compatible = "ti,tps55288";
                        reg = <0x74>;
                        regulator-name = "target-vbus";
                };
        }; //end power_i2c@0x00000140 (SLOT1_I2C)

        ADCDAC_RESET: adcdac_reset@200 {
                compatible = "altr,pio-1.0";
                reg = <0x0200 0x20>;
                altr,ngpio = <1>;
                resetvalue = <0>;
                #gpio-cells = <2>;
                gpio-controller;
        }; //end adcdac_reset@20 

        ADCDAC_SPI: adcdac_spi@0x0240 {
                compatible = "altr,spi-20.1", "altr,spi-1.0";
                reg = <0x00000240 0x00000020>;
                interrupt-parent = <&intc>;
                interrupts = <0 43 4>;
                clocks = <&h2f_user0_clk>;
                num-cs = <1>;

                // LTC2445 ADC @ 0 
//                ad5592r@0{
//                        compatible = "adi,ad5592r";
//                        #size-cells = <0>;
//                        #address-cells = <1>;
//                        #gpio-cells = <2>;
//                        reg = <0>;
//
//                        spi-max-frequency = <100000>;
//                        spi-cpol;
//
//                        vref-supply = <&adcdac_3v3>;
//                        reset-gpios = <&ADCDAC_RESET 0 GPIO_ACTIVE_LOW>;
//
//                        channel@0 {
//                                reg = <0>;
//                                adi,mode = <CH_MODE_ADC>;
//                        };                        
//                };

                /* LTC2445 ADC @ 0 */
                // use spidev to support this since the Altera SPI core driver
                // seems to have difficulty with the CPOL flags required by
                // this device - we're faking the compatible ID here to avoid
                // patching the kernel source - LOOK OUT FOR BREAKAGE
                // the Kernel.org crew does not like adding things here since
                // it tends to get very, very, board-specific but this device
                // is kinda similar to our project and _unlikely_ to conflict
                // but that's a risky assumption long term
                ad5592r@0{
                        compatible = "lwn,bk4";
                        reg = <0>;
                        spi-max-frequency = <100000>;
                };

        }; //end adcdac_spi@0x0240 (ADCDAC_SPI)

	diag_led: diag_led@0x1000 {
		compatible = "altr,pio-20.1", "altr,pio-1.0";
		reg = <0x00001000 0x00000010>;
                altr,ngpio = <2>;
		resetvalue = <3>;
		#gpio-cells = <2>;
		gpio-controller;
	}; //end gpio@0x1000 (diag_led)

        MB_I2C: mb_i2c@0x1040 {
                compatible = "altr,softip-i2c-v1.0";
                reg = <0x0001040 0x00000040>;
                interrupt-parent = <&intc>;
                interrupts = <0 44 4>;
                clocks = <&h2f_user0_clk>;
                clock-frequency = <100000>;
                #address-cells = <1>;
                #size-cells = <0>;
                fifo-size = <4>;

                eeprom@50 {
                        compatible = "fmd,24c16";
                        reg = <0x50>;
                };

        }; // end mb_i2c@0x6400

};

&gmac1 {
	phy-mode = "rgmii-id";
        phy-handle = <&eth_phy0>;
};

&mdio0 {
        eth_phy0: ethernet-phy@0 {
                compatible = "ethernet-phy-id0007.0771";
                device_type = "ethernet-phy";
                reg = <0>;
        };
};